body{
  margin: 0px;
  font-family: "Arial";
  font-size: 16pt;
}

.left-pane{
  float:left;
  width:30%;
  height:100%;
}

.players{
  overflow-y: scroll;
}

.player-container{
  padding:10px;
}

.player{
  outline: solid;
  outline-color: rgba(10,100,255,1);
  padding: 3px;
  background-color: rgba(220,220,255,1);
}

.cooperate, .ignore, .betray, .none{
  display: inline;
}

.cooperate{
  color: green;
}

.ignore{
  color: black;
}

.betray{
  color: red;
}

.none{
  color: gray;
}

button{
  font-size: 16pt;
  background-color: white;
  border-radius: 8px;
}

button.cooperate.selected{
  color:white;
  background-color: green;
}

button.ignore.selected{
  color:white;
  background-color: black;
}

button.betray.selected{
  color:white;
  background-color: red;
}

.right-pane{
  float:right;
  width: 70%;
  height: 100%;
  margin: 0px;

}

.messages-pane{
  width:100%;
  height:50%;
  background-color: rgba(150,20,20,1);
  overflow-y: scroll;
}

.message-container{
  padding:2px;
  padding-left:5%;
  padding-right:5%;
  display: inline-block;
  width:90%;
}

.message{
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px;
  padding:5px;
  width: auto;
}

.you{
  float:right;
}

.them{
  float:left;
}

.server{
  margin:auto;
  width: 40%;
}

.controls-pane{
  width:100%;
  height:50%;
  background-color: yellow;
}

.communication-pane{
  float:left;
  padding:20px;
  line-height: 200%;
}

select{
  font-size: 16pt;
  background-color: white;
  border-radius: 8px;
}

.game-info-pane{
  width:30%;
  height:100%;
  float:right;
}

.game-info-container{
  font-size: 20pt;
  padding:20px;
  text-align: center;
}



/* for newgame and index*/

.small-right-pane{
  float:right;
  width: 50%;
  height: 100%;
  margin: 0px;
}

.large-left-pane{
  float:left;
  width:50%;
  height:100%;
}

.padded{
  padding:10px;
}

.open-game:nth-child(odd){
  background-color: rgba(220,240,220,1);
  border-radius: 8px;
}

.open-game:nth-child(even){
  background-color: rgba(200,220,240,1);
  border-radius: 8px;
}

form input{
  float:right;
}

form{
  padding-left:10px;
  line-height: 2;
}



















